@import "tailwindcss";

@font-face {
  font-family: 'GrifterBold';
  src: url('/fonts/grifterbold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Set Orbitron for all text except titles */
  font-family: Avenir, Helvetica, Arial, sans-serif;  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  /* Apply Grifter Bold for all headings */
  font-family: 'GrifterBold', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes subtleGlow {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
}

.subtle-glow {
  animation: subtleGlow 10s ease-in-out infinite;
}
